/* your styles go here */
#seretable {
    width: 1000px;
    height: 415px;
    border: 1px solid #508104;
    display: none;
}
tr {
    margin-left: 10px;
}
/*
* =====================================================
*     SLIDER
* =====================================================
*/
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 10px;
    background: #508104; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */

    background: #508104; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

/*
* =====================================================
*     SLIDER
* =====================================================
*/

.divider {
    margin: 0px auto;
    width: 80%;
    max-width: 100%;
    position: relative;
}

.dividermask {
    overflow: hidden;
    height: 20px;
}

.dividermask:after {
    content: "";
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #508104;
}
#tabledesc {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    width: 100%;
}

#servicename {
    width: 80%;
    padding-left: 20px;
    text-align: center;
    padding-top: 3px;
    text-transform: uppercase;
    font-weight: 500;
}
/*
* =====================================================
*     TABLES
* =====================================================
*/
.table {
    width: 80% !important;
    color: #212529;
    border: 1px solid #8ea604;
    border-radius: 15px;
    /* margin-bottom: 100px !important; */
    margin: auto;
    background-color: white !important;
    font-weight: 600;
}
.resulttable {
    /* width: 95%; */
    /* margin-bottom: 1rem;
    margin-right: 50px;
    margin-left: 20px; */
    color: #212529;
    border: 2px solid #8ea604;
    /* border-radius: 15px; */
    background-color: white;
}

.resulttablehead {
    color: #8ea604;
    font-size: 20px;
    padding: 10px;
    word-wrap: break-word;
    white-space: inherit !important;
}
.resulttabledata {
    padding: 10px;
    font-size: 18px;
    border-top: 1px solid #8ea604;
    word-wrap: break-word;
    white-space: inherit !important;
}

/* Number fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

/* Applicant name */
#applicantname {
    font-size: 1.5rem;
    color: #508104;
    text-align: left;
    font-weight: 500;
    padding-left: 10vw;
}

#applicantnameinput {
    background: transparent;
    border: 1px solid #508104;
    border-bottom: 2px solid #508104;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 35px;
    width: 25vw;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    resize: none;
    margin-left: 30px;
}

.edit-buttons {
    border-radius: 20px !important;
    font-size: 16px !important;
    padding-left: 8px !important;
    padding-right: 5px !important;
}

.action-buttons {
    border-radius: 20px !important;
    font-size: 16px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

#applicant-label-desc {
    color: gray;
    font-size: 12px;
    margin-left: 380px;
    margin-top: -8px;
}

#logo {
    max-width: 100%;
    width: 100vw;
    padding-left: 6vw;
    padding-right: 6vw;
    height: 10vw;
}
.logos {
    padding: 0 6px;
    float: left;
    width: 100%;
    display: flex;
    background: white;
    padding-bottom: 10px;
    margin-top: 0px !important;
}
@media only screen and (max-width: 700px) {
    .logos {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .logos {
        width: 100%;
    }
}

#herorow {
    padding-top: 50px;
}

/*LOGIN*/
@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
    font-family: "Numans", sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    padding-top: 50px;
    margin-top: auto;
    margin-bottom: auto;
    width: 70%;
    background-color: white !important;
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #508104;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #8ea604;
    color: white;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white;
    background-color: #8ea604;
    width: 170px !important;
    height: 70px !important;
    font-size: x-large !important;
    font-weight: 600 !important;
    position: absolute;
    margin-left: 10vw;
    margin-top: 1vw;
    border-radius: 1px !important;
}

.login_btn:hover {
    color: white;
    background-color: #518400;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.superhero {
    padding: 12.5rem 0;
    background: url(../img/bg/background.jpg) no-repeat;
    /* background-repeat: no-repeat; */
    /* height: 100%; */
    background-size: 100%;
    /*background-attachment: fixed;*/
}
@media (max-width: 991.98px) {
    .superhero {
        padding: 5rem 0 7rem;
        padding-top: 8rem;
    }
}
.modal-content {
    background: url(../img/bg/popup.jpg) no-repeat;
    background-size: cover;
    color: white;
}
#welcometext {
    font-size: 2vw;
    font-weight: 600;
    text-align: justify;
}

#namenipt {
    margin-top: 100px;
    width: 80vw;
}
#category-10-button {
    margin-left: 128px;
}

#footercontainer {
    color: #182702;
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    padding-left: 610px;
}

#submitbutton {
    max-width: 150px;
    width: 40%;
    font-size: large;
    height: auto;
    font-weight: bold;
}
